.title-name {
  font-size: 75px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: -3px 3px gray;
}

body {
  background-image: url("../images/mountain.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: rgba(243, 237, 237, 0);
}

.name-text {
  font-size: 75px;
  color: white;
}

.job-text {
  color: lightgray;
}

.profile-image {
  height: 300px;
  border-radius: 50%;
  opacity: 1;
}

.component-shadow {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}