.title-name {
  font-size: 75px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: -3px 3px gray;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: rgba(243, 237, 237, 0.5);
}

.name-text {
  font-size: 75px;
}

.profile-image {
  height: 200px;
  border-radius: 50%;
  opacity: 1;
}