.section-tab {
  background-color: gray;
  color: white;
}

.custom-navbar {
  background-color: white;
}

i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding: 18px;
  margin-left: -10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  padding: 18px;
  margin-right: -10px;
}

ul {
  list-style-type: none;
}

.home-container {
  max-width: 850px;
  margin: 150px auto 0;
}

.home-grid {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(250px, auto);
  margin: auto;
  grid-gap: 25px;
}

.project-grid {
  display: grid;
  grid-template-columns: minmax(250px, 500px) minmax(250px, 500px);
  grid-gap: 50px;
  padding: 75px 25px;
  max-width: 1100px;
  margin: auto;
}

.profile-section {
  justify-self: center;
  font-family: 'Permanent Marker', cursive;
  box-shadow: 0 5px 15px #000;
  transform: rotate(-7deg);
  line-height: 1.25em;
  font-size: 2em;
}

.skills-section {
  font-family: 'Permanent Marker', cursive;
  padding: 20px;
  justify-self: center;
}

.skills-section ul {
  font-size: 20px;
}

.img-name {
  padding: 15px 10px 0;
  /* transform: rotate(-15deg); */
  margin: 0;
}

.img-role {
  padding: 0 10px 15px;
  text-align: right;
  /* transform: rotate(-15deg); */
  margin: 0;
}

.name-section {
  margin: auto;
  transform: rotate(-10deg);
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
}

.name {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.title {
  padding: 0 10px;
}

.section-label {
  background-color: black;
  width: 50%;
  height: 75px;
  font-size: 50px;
  color: white;
}

.section-label p {
  margin: auto;
  text-align: center;
}

.portfolio-item {
  /* max-width: 900px; */
  /* margin: 15px; */
  border-radius: 10px;
}

.portfolio-item:hover {
  opacity: .5;
}

.contact-image {
  width: 50px;
}

.navbar-logo {
  font-size: 30px;
  color: #fff;
  background-color: #000;
  transform: rotate(-5deg);
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.name-text {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
}

.job-text {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
}

.profile-image {
  max-width: 100%;
  border-radius: 5px;
  opacity: 1;
  width: 400px;
  padding: 10px 10px 0;
  /* box-shadow: 0 0 10px #000; */
}

.contact-image:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (max-width: 800px) {
  .home-grid {
    grid-template-columns: 1fr;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .name-text {
    font-size: 40px;
  }

  .job-text {
    font-size: 35px;
  }

  .home-container {
    margin-top: 150px;
  }

  .profile-section {
    max-width: 300px;
  }

}

@media screen and (max-width: 450px) {
  .profile-section {
    font-size: 1.5em;
  }
}

a {
  justify-self: center;
}

/* post-it note styling  */

.postit {
  line-height: 1.25em;
  width: 325px;
  margin: 25px;
  min-height: 325px;
  max-height: 325px;
  padding: 10px 20px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-top: 20px solid #fdfd86;
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(68, 51, 51, 0.4);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postit h2 {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.skills-grid p {
  margin: 0;
}